@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

body{
	margin: 0;
	padding: 0;
	height: 100vh;
}

#particles-js{
	height: 100%;
	background: #262626;
}

.box{
	position: absolute;
	max-width: 600px;
	background: rgba(255,255,255,0.1);
	box-shadow:0 15px 45px rgba(0,0,0,0.8);
	z-index:2;
	padding: 20px;
	left:45%;
	top:30%;
}

.box h2{
  margin: 0 0 20px;
  font-size: 48px;
  color: antiquewhite;
  font-family: 'Quicksand', sans-serif;
}

.box p{
  color:antiquewhite;
  font-family: 'Open Sans', sans-serif;
}