@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/*
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url(images/blackSandsNew.jpg);
}
*/

#preload { display: none; }

body {
  /* Location of the image */
  /* image from unsplash by Adrien Olichon*/
  background-image: url(images/blackSandsNew.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#0C0f12;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */

   font-family: 'Quicksand', sans-serif;
   font-weight: 700;
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: lighter;
	font-size: 40px;
	/*color: white;*/
}


.welcome-section{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	overflow: hidden;
}


.content-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fly-in-text{
	list-style: none;
}

.fly-in-text li{
	display: inline-block;
	margin-right: 20px;
	font-size: 5em;
	color: #fff;
	opacity: 1;
	transition: all 3s ease;
}

.fly-in-text li:nth-child(5){
	margin-right: 0;
}

.enter-button{
	display: block;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	color: #adff2f;
	opacity: 1;
	margin-top:30px;
	transition: all 1s ease 3s;
}

/*@media only screen and (max-width: 767px){
	body{
		background-image: url(images/blackSandsMobile.jpg);
	}
}*/